<form class="form" [formGroup]="deporteForm" (ngSubmit)="irDatosPersonales()">
    <p class="title">Inscripción a deportes</p>
        <label>
            Disciplina a la que desea entrar*:
            <select formControlName="disciplina" class="input" type="text" placeholder="" required="">
                    <option value="Baloncesto">Baloncesto</option>
                    <option value="Voleibol">Voleibol</option>
                    <option value="Futbol">Futbol</option>
                    <option value="Natación">Natación</option>
                    <option value="Pilates">Pilates</option>
                    <option value="Yoga">Yoga</option>
                    <option value="Tenis">Tenis</option>
                <option value="Patinaje">Patinaje</option>
            </select>
        </label>
    <label>
        Experiencia previa*:
        <select formControlName="experiencia" class="input" type="text" placeholder="" required="">
            <option value="ADV">Avanzado</option>
            <option value="INT">Intermedio</option>
            <option value="BS">Basico</option>
            <option value="PR">Principiante</option>
        </select>
    </label> 
    <label>
        Estatura*:
        <select formControlName="estatura" class="input" type="text" placeholder="" required="">
            <option value="uno">1.30m-1.50m</option>
            <option value="dos">1-50m-1.70m</option>
            <option value="tres">1.70m-1.90m</option>
            <option value="cuatro">1.90m-2.00m</option>
        </select>
    </label> 
    <label>
        Peso*:
        <select formControlName="peso" class="input" type="text" placeholder="" required="">
            <option value="uno">40kg-60kg</option>
            <option value="dos">60kg-80kg</option>
            <option value="tres">80kg-100kg</option>
            <option value="cuatro">100kg-120kg</option>
        </select>
    </label> 
    <label>
        ¿Ha practicado algún deporte antes?*
        <label>
            <input type="radio" formControlName="experienciaPrevia" value="si">
            Si
          </label>
    
          <label>
            <input type="radio" formControlName="experienciaPrevia" value="no">
            No
          </label>
    </label>
    <label>
        Objetivo con el que entra*:
        <select formControlName="objetivo" class="input" type="text" placeholder="" required="">
            <option value="A">Aprender</option>
            <option value="M">Mejorar</option>
            <option value="C">Conocer gente</option>
            <option value="PR">Pasar el rato</option>
            <option value="OT">Otro</option>
        </select>
    </label>
    <label>
            <input class="input" type="text"  formControlName="lesiones">
            <span>Lesiones previas</span>
    </label>
    <label>
        Seleccione su talla*:
        <select formControlName="talla" class="input" type="text" placeholder="" required="">
            <option value="H">XS</option>
            <option value="H">S</option>
            <option value="H">M</option>
            <option value="H">L</option>
            <option value="H">XL</option>
        </select>
    </label>
    <label>
        <label for="fecha">Fecha en la que va a empezar a asistir*:</label>
        <input required type="date" class="input" id="fecha" formControlName="fecha" [min]="fechaActual">
    </label>
    <label>
        <label for="horario">Horario en el que desea asistir*:</label>
        <select formControlName="horario" class="input" type="text" placeholder="" required="">
            <option value="H">9:00</option>
            <option value="H">10:00</option>
            <option value="H">12:00</option>
            <option value="H">16:00</option>
            <option value="H">18:00</option>
        </select>
    </label>

    <button class="submit" type="submit">Siguiente</button>

</form>