<form class="form" [formGroup]="musicaForm" (ngSubmit)="irDatosPersonales()">
    <p class="title">Inscripción a musica</p>
        <label>
            Clase a aplicar:
            <select formControlName="clase" class="input" type="text" placeholder="" required="">
                <option value="Canto">Canto</option>
                <option value="Guitarra acustica">Guitarra acustica</option>
                <option value="Guitarra electrica">Guitarra electrica</option>
                <option value="Bajo electrico">Bajo electrico</option>
                <option value="Bateria">Bateria</option>
                <option value="Vientos">Vientos</option>
                <option value="Instrumentos de cuerda frotada">Instrumentos de cuerda frotada</option>
                <option value="Banda marcial">Banda marcial</option>
            </select>
        </label>
    <label>
        Modalidad de preferencia:
        <select formControlName="modalidad" class="input" type="text" placeholder="" required="">
            <option value="PER">Personalizada</option>
            <option value="GRP">Grupal</option>
            <option value="AMB">Ambas</option>
        </select>
    </label> 
    <label>
        ¿Tiene experiencia anterior en el ambito musical?:
        <select formControlName="experiencia" class="input" type="text" placeholder="" required="">
            <option value="Y">Si</option>
            <option value="N">No</option>
        </select>
    </label>
    <label>
        ¿Tiene instrumento propio?:
        <select formControlName="instrumentoPropio" class="input" type="text" placeholder="" required="">
            <option value="SI">Si</option>
            <option value="NO">No</option>
        </select>
    </label>
    <label>
        Genero musical preferido:
        <select formControlName="generoPreferido" class="input" type="text" placeholder="" required="">
            <option value="uno">Rock</option>
            <option value="dos">Pop</option>
            <option value="tres">Jazz</option>
            <option value="cuatro">Country</option>
            <option value="cinco">Clasica</option>
            <option value="seis">Folk</option>
            <option value="siete">Metal</option>
            <option value="ocho">Blues</option>
            <option value="nueve">Reggae</option>
            <option value="diez">Otro</option>
        </select>
    </label>
    <label>
        ¿Tiene interes en la teoria musical?
        <select formControlName="interes" class="input" type="text" placeholder="" required="">
            <option value="IS">Si</option>
            <option value="IN">No</option>
        </select>
    </label>
    <label>
        ¿Estaria dispuesto a participar en clases musicales de generos musicales que no sean de su preferencia?
        <select formControlName="dispuesto" class="input" type="text" placeholder="" required="">
            <option value="DY">Si</option>
            <option value="DN">No</option>
        </select>
    </label>
    <label>
        ¿Tiene interes en participar en eventos gubernamentales?
        <select formControlName="gubernamentales" class="input" type="text" placeholder="" required="">
            <option value="SG">Si</option>
            <option value="NG">No</option>
        </select>
    </label>
    <label>
        <label for="fecha">Fecha en la que va a empezar a asistir:</label>
        <input required type="date" class="input" id="fecha" formControlName="fecha" [min]="fechaActual">
    </label>
    <br>
    <button class="submit" type="submit">Siguiente</button>
</form>