<form class="form" [formGroup]="medicosForm" (ngSubmit)="irConfirmacion()" >
    <p class="title">Datos medicos</p>
    <label>
            EPS en la que esta inscrito*:
            <select formControlName="eps"  class="input" type="text" placeholder="" required="">
                <option value="AL">Aliansalud</option>
                <option value="AIC">Asociación Indigena del Cauca</option>
                <option value="CS">Capital Salud</option>
                <option value="CE">Capresoca EPS</option>
                <option value="CV">Comfenalco Valle EPS</option>
                <option value="C">Compensar EPS</option>
                <option value="CSD">Cooperativa de salud y desarrollo integral</option>
                <option value="F">Famisanar</option>
                <option value="S">Sanitas</option>
                <option value="CD">Convidia</option>
                <option value="CO">Servicio Occidental de Salud</option>
                <option value="P">Prepagada suramericana</option>
                <option value="M">Mallamas</option>
                <option value="NE">Nueva EPS</option>
                <option value="PS">Pijaos Salud</option>
                <option value="ST">Salud total</option>
                <option value="SV">Saludvida</option>
                <option value="SS">Savia Salud</option>
                <option value="OTR">Otra</option>
            </select>
    </label> 
    <label>
        Tipo de sangre*:
        <select formControlName="sangre"  class="input" type="text" placeholder="" required="">
            <option value="A">A+</option>
            <option value="A">A-</option>
            <option value="B">B+</option>
            <option value="B">B-</option>
            <option value="AB">AB+</option>
            <option value="AB">AB-</option>
            <option value="O">O+</option>
            <option value="O">O-</option>
        </select>
    </label> 
    <label>
        <input formControlName="alergia" class="input" type="text" placeholder="">
        <span>Alergias</span>
    </label> 
    <label>
        <input formControlName="discapacidades" class="input" type="text" placeholder="">
        <span>Discapacidades</span>
    </label> 
 <br>
    <label>
        Enfermedades Cronicas:
        <br>
        <div class="col-sm-2">
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Artritis</span>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Cáncer</span>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Cardiopatía</span>
            <br>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Diabetes</span>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Enfermedad renal crónica</span>
            <br>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Hipertensión</span>
    
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Insuficiencia cardiaca</span>
            <br>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Depresión</span>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Alzheimer o demencia</span>
            <br>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Enfermedades respiratorias</span>
            <input formControlName="enfermedadesCronicas" type="checkbox" placeholder="">
            <span>Otra</span>
        </div>
    </label> 
    <br>
    <label>
        ¿Ha tenido alguna cirugía?*
        <label>
            <input type="radio" formControlName="cirugia" value="si">
            Si
          </label>
    
          <label>
            <input type="radio" formControlName="cirugia" value="no">
            No
          </label>
    </label>
    <label>
        <input formControlName="lesionesPrevia" class="input" type="text">
            <span>Lesiones previas</span>
    </label>

    <label>
        Vacunas contra covid*:
        <select formControlName="vacunas" class="input" type="text" placeholder="" required="">
            <option value="H">1 dosis</option>
            <option value="H">2 dosis</option>
            <option value="H">3 dosis</option>
        </select>
    </label>
    
    <p>
        Datos de contacto de emergencia*:
    </p>
    <div class="flex">
        <br>
        <label>
            <input formControlName="nombreApellido" class="input" type="text" placeholder="" required="">
            <span>Nombres y apellidos</span>
        </label>
        <label>
            <input formControlName="telefono" class="input" type="text" placeholder="" required="">
            <span>Telefono</span>
        </label>
    </div>  

    <button class="submit" type="submit">Siguiente</button>

</form>
