<form class="form" [formGroup]="medicosForm" (ngSubmit)="irConfirmacion()" >
    <p class="title">Datos medicos</p>
    <h6>Los campos obligatorios tienen un *</h6>
    <label>
        EPS en la que esta inscrito*:
        <select id="eps" class="input" type="text" placeholder="" required="">
            <option value="AL">Aliansalud</option>
            <option value="AIC">Asociación Indigena del Cauca</option>
            <option value="CS">Capital Salud</option>
            <option value="CE">Capresoca EPS</option>
            <option value="CV">Comfenalco Valle EPS</option>
            <option value="C">Compensar EPS</option>
            <option value="CSD">Cooperativa de salud y desarrollo integral</option>
            <option value="F">Famisanar</option>
            <option value="S">Sanitas</option>
            <option value="CD">Convidia</option>
            <option value="CO">Servicio Occidental de Salud</option>
            <option value="P">Prepagada suramericana</option>
            <option value="M">Mallamas</option>
            <option value="NE">Nueva EPS</option>
            <option value="PS">Pijaos Salud</option>
            <option value="ST">Salud total</option>
            <option value="SV">Saludvida</option>
            <option value="SS">Savia Salud</option>
            <option value="OTR">Otra</option>
        </select>
    </label> 
    <label>
        Tipo de sangre*:
        <select id="sangre" class="input" type="text" placeholder="" required="">
            <option value="A">A+</option>
            <option value="A">A-</option>
            <option value="B">B+</option>
            <option value="B">B-</option>
            <option value="AB">AB+</option>
            <option value="AB">AB-</option>
            <option value="O">O+</option>
            <option value="O">O-</option>
        </select>
    </label> 
    <label>
        <input class="input" type="text" placeholder="">
        <span>Alergias</span>
    </label> 
    <label>
        <input class="input" type="text" placeholder="">
        <span>Discapacidades</span>
    </label> 
 <br>
    <label>
        Enfermedades Cronicas:
        <br>
        <input  type="checkbox" placeholder="" required="">
        <span>Ninguna</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Artritis</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Cáncer</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Cardiopatía</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Diabetes</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Hipertendión</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Enfermedad renal crónica</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Insuficiencia cardiaca</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Depresión</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Alzheimer o demencia</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Enfermedades respiratorias</span>
        <input  type="checkbox" placeholder="" required="">
        <span>Otra</span>
    </label> 
    <br>
    <label>
        ¿Ha tenido alguna cirugía?*
        <form>
            <input  type="radio" id="si" name="experiencia" value="si" required>
            <label for="si">Si</label>
            
            <input  type="radio" id="No" name="experiencia" value="no" required>
            <label for="no">No</label>

        </form>
    </label>
    <label>
        <input class="input" type="text" placeholder="" required="">
            <span>Lesiones previas</span>
    </label>

    <label>
        Vacunas contra covid*:
        <select id="talla" class="input" type="text" placeholder="" required="">
            <option value="H">1 dosis</option>
            <option value="H">2 dosis</option>
            <option value="H">3 dosis</option>
        </select>
    </label>
    
    <p>
        Datos de contacto de emergencia*:
    </p>
    <div class="flex">
        <br>
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>Nombres y apellidos</span>
        </label>

        <label>
            <input class="input" type="number" placeholder="" required="">
            <span>Telefono</span>
        </label>
    </div>  

    <button class="submit" type="submit">Siguiente</button>

</form>
